.rps-items{
  
}
body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #321447;
  font-family: Arial, sans-serif;
  color: white;
  
}

.game-box{
  background-color: #d07bca;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 350px;
  
}

.score-board{
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.choices{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.choice-btn{
  flex: 1;
  padding: 15px 5px;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
 font-size: 2rem ;
}


.choice-btn:hover{
  background-color: #efeeec;
}

.result-area{
  margin: 15px 0;
  min-height: 80px;
}

#result-text{
  margin-top: 10px;
  font-size: 1.3rem;
}

#reset-btn{
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #7402c0;
  color: white;
  cursor: pointer;
}

#reset-btn:hover{
  background-color: #c9302c;
}
.win{
  color: #035206;
  font-weight: bolder;
}

.lose{
  color: #cd1508;
  font-style: italic;
}

.draw{
  color: #390342;
}