.cal-grid{display: block;
  height: 100% ;/*430px;*/
  background-color: rgb(4, 4, 4);
  max-width: 223px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
    padding-bottom: 20px;

}
.cal-text, .total {
  width: 85%;
  box-sizing: border-box;
  margin: 0 auto;
  height: 60px;
  background: black;
  border: none;
  color: white;
  font-size: 20px;
}

.cal-text {
  text-align: start;
  margin-top: 20px;
}

.total {
  text-align: end;
}

/*.cal-text{
  height: 60px;
  background: black;
  border: none;
  color: white;
  font-size: 20px;
  width: 180px;
  text-align: start;
  margin-left: 20px;
  margin-top:20px;
}
.total{
  background: black;
  color: white;
  text-align: end;
  height: 60px;
 font-size: 20px;
   width: 180px;
  border: none;
  margin-left: 20px;
}*/
.cal-box{
  display: grid;
  row-gap: px;
  grid-template-columns: repeat(2,1fr);
  width: 90%; /*215px;*/
  box-sizing: border-box;
  background: black;
  height: 240px;
  padding-left: 0;
  margin-top: 30px auto 0;
}
.sign-num{
  display: grid;
}
.num-box{
 width: 100%; /*152px;*/
 height: 160px; /* or whatever fits your buttons comfortably */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

}
.num-arith{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 8px;
}
@media (max-width: 320px) {
  button {
    width: 34px;
    height: 34px;
  }
}
.cancel-btn{
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.divide-icon{
  font-size: 30px;
  padding: 0%;
}
.sign-btn{
width: 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 20px;
  
}
.arith-sign{
  display: grid;
  column-gap: 15px;
  
}
button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
   box-shadow: inset 0px 0px 7px rgba(248, 235, 235, 0.33);
}
.sign-btn button{
  background: rgba(230, 225, 225, 0.411);
  color: white;
}
.num-box button{
  background: rgb(36, 36, 36);
  color: white;
}
.arith-sign button{
  background: orange;
  color: white;
}