/* html, body{
  height: 100%;
  margin: 0;
}
.todolist-view{
  height: 100%;
} */
body{
  font-family: Roboto, Arial;
  position: relative;
}

/*Welcome screen*/
.welcome-txt{
  font-weight: 600;
  color: rgb(198, 151, 11);
  font-size:clamp(12px, 3vw, 48px);
}

.date-text{
  font-size: clamp(8px, 2vw, 20px);
  color: rgba(0, 0, 0, 0.922);
  display: inline-block;
  margin-bottom: 0;
}

/* header greetings{
  background-color: rgba(249, 249, 249, 0.628);
} */


.welcome-scr{
  display: grid;
  grid-template-rows: 1fr 650px 1fr;
  height: 100%;
  background-image: url(thumbnails/todostayorgbg.png);
  background-size: cover;
  background-position: center;
}

.piechatimg{
  position: absolute;
  top: 3%;
  right: 35%;
  width: 200px;
  transform: scale(1.5);
  transition: 3s;
}

.note{
  position: absolute;
  z-index: 1;
  transform: scale(1.2);
  transition: 0.3s;
  width: 210px;
  margin-left: 50px;
  right: 40%;
  top: 18%;
  background-color: rgba(221, 146, 34, 0.995);
  color: rgba(247, 247, 247, 0.995);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px;
  font-style: italic;
}

.welcome-scr footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(255, 228, 196, 0.32);
}
footer button{
  height: 50px;
  width: 200px;
  background-color: rgb(225, 152, 43);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.welcome-txt, .date-text{
  margin-left: 20px;
}

/* ---- organize screen ---- */
.organize{
  display: none;
}
.organize-scr{
  width: 100%;
}
.org-header{
  display: grid;
  /* grid-template-columns: repeat(3fr); */
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 180px;
  background-color: antiquewhite;
}
.org-bg{
position: absolute;
top: 10%;
left: 45%;
padding: 0%;
width: 150px;
transform: scale(1.5);
transition: 3s;
}

.home{
  display: flex;
    flex-wrap: nowrap;
  flex-direction: row;
  gap: 100px;
  background-color: rgb(252, 201, 72);
  border-radius: 20px;
  justify-content: center;
}
.home-icon{
  min-width: 50px;
  background: none;
  border: none;
}
.home button{
  background: none;
  border: none;
}
.org-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 160px;
}

.ctitle{
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 500;
  text-decoration:underline;
}
.ptitle, .ctitle{
  margin-left: 60px;
}
.organize main{
  background-image: url(thumbnails/tododesktopbg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.organize main img{
  width: 50px;
}
.organize main div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
  padding:6px ;

}
.m-org{
   display: grid;
  align-items: center;
  text-align: center;  
  gap: 30px;
}
.work-box{
  background-color: rgb(255, 253, 253);
}
.personal-box{
  background-color: rgb(125, 125, 240);
}
.errands-box{
  background-color: rgb(143, 235, 90);
}
.health-box{
  background-color: rgb(239, 63, 63);
}
.task-txt, .task-total{
   font-size:  clamp(20px, 2vw, 35px);
   font-weight: 500;
   color: rgb(0, 0, 0);
}

/* ---- work screen ---- */

.workscreen{
  display: none;
  grid-template-rows: 1fr 650px 1fr;
  height: 100%;
  /* background-image: url(thumbnails/todostayorgbg.png);
  background-size: cover;
  background-position: center; */
}
/* .workscreen{
  display: none;
} */
.work-scr{
  width: 100%;
}
.work-header{
  display: grid;
  /* grid-template-columns: repeat(3fr); */
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 180px;
  background-color: antiquewhite;
}
.backarrow{
  width: 5%;
  position: absolute;
  top: 0%;
}
.work-bg{
position: absolute;
top: 10%;
left: 45%;
padding: 0%;
width: 150px;
transform: scale(1.5);
transition: 3s;
}

.work-home{
  display: flex;
    flex-wrap: nowrap;
  flex-direction: row;
  gap: 20%;
  background-color: rgb(252, 201, 72);
  border-radius: 20px;
  justify-content: center;
}
.work-home button{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}

.work-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.worktitle{
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 500;
  text-decoration:underline;
}
.ptitle, .worktitle{
  margin-left: 60px;
}
.work-home-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wkhome-icon{
  width: 100%;
}
.task-txt-box{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.work-task-icon{
  min-width: 10%;
  max-width: 15%;
}

.work main{
  background-image: url(thumbnails/tododesktopbg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.work main img{
  width: 50px;
}
.work main div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
  padding:6px ;

}
.m-work{
   display: grid;
  align-items: center;
  text-align: center;  
  gap: 30px;
}
.work-box{
  background-color: rgb(255, 253, 253);
}
.task-txt, .task-total{
   font-size:  clamp(20px, 2vw, 35px);
   font-weight: 500;
   color: rgb(0, 0, 0);
}
.work-box p{
  font-size:  clamp(16px, 2vw, 25px);
}


/* ---- personal screen ---- */

.personalscreen{
  display: none;
  grid-template-rows: 1fr 650px 1fr;
  height: 100%;
  /* background-image: url(thumbnails/todostayorgbg.png);
  background-size: cover;
  background-position: center; */
}
/* .workscreen{
  display: none;
} */
.personal-scr{
  width: 100%;
}
.personal-header{
  display: grid;
  /* grid-template-columns: repeat(3fr); */
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 180px;
  background-color: antiquewhite;
}
.backarrow{
  width: 5%;
  position: absolute;
  top: 0%;
}
.personal-bg{
position: absolute;
top: 10%;
left: 45%;
padding: 0%;
width: 150px;
transform: scale(1.5);
transition: 3s;
}

.personal-home{
  display: flex;
    flex-wrap: nowrap;
  flex-direction: row;
  gap: 20%;
  background-color: rgb(252, 201, 72);
  border-radius: 20px;
  justify-content: center;
}
.personal-home button{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}

.personal-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.ptitle{
  font-size: clamp(30px, 3vw, 50px);
  text-wrap: inherit;
  font-weight: bold;
  overflow-wrap: break-word;
  white-space: normal;
  width: 280px;
}
.personaltitle{
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 500;
  text-decoration:underline;
  overflow-wrap: break-word;
  white-space: normal;
}
.ptitle, .personaltitle{
  margin-left: 60px;
}
.personal-home-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.perhome-icon{
  width: 100%;
}
.task-txt-box{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.personal-task-icon{
  min-width: 10%;
  max-width: 15%;
}

.personal main{
  background-image: url(thumbnails/tododesktopbg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.personal main img{
  width: 50px;
}
.personal main div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
  padding:6px ;

}
.m-personal{
   display: grid;
  align-items: center;
  text-align: center;  
  gap: 30px;
}

.task-txt, .task-total{
   font-size:  clamp(20px, 2vw, 35px);
   font-weight: 500;
   color: rgb(0, 0, 0);
}

.personal-scr footer img{
  width: 10%;
}
.personal-scr footer p{
  font-size: clamp(16px, 2vw, 24px);
}

.personal-scr footer{
  display: flex;
}
.personal-scr footer div{
   display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  
}

/*Errand screen*/
.errandscreen{
  display: none;
  grid-template-rows: 1fr 650px 1fr;
  height: 100%;
  /* background-image: url(thumbnails/todostayorgbg.png);
  background-size: cover;
  background-position: center; */
}
/* .workscreen{
  display: none;
} */
.errands-scr{
  width: 100%;
}
.errands-header{
  display: grid;
  /* grid-template-columns: repeat(3fr); */
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 180px;
  background-color: antiquewhite;
}
.backarrow{
  width: 5%;
  position: absolute;
  top: 0%;
}
.errands-bg{
position: absolute;
top: 10%;
left: 45%;
padding: 0%;
width: 150px;
transform: scale(1.5);
transition: 3s;
}

.errands-home{
  display: flex;
    flex-wrap: nowrap;
  flex-direction: row;
  gap: 20%;
  background-color: rgb(252, 201, 72);
  border-radius: 20px;
  justify-content: center;
}
.errands-home button{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}

.errands-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.etitle{
  font-size: clamp(30px, 3vw, 50px);
  text-wrap: inherit;
  font-weight: bold;
  overflow-wrap: break-word;
  white-space: normal;
  width: 280px;
}
.errandstitle{
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 500;
  text-decoration:underline;
  overflow-wrap: break-word;
  white-space: normal;
}
.etitle, .errandtitle{
  margin-left: 60px;
}
.errands-home-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.errhome-icon{
  width: 100%;
}
.task-txt-box{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.errands-task-icon{
  min-width: 10%;
  max-width: 15%;
}

.errands main{
  background-image: url(thumbnails/tododesktopbg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.errands main img{
  width: 50px;
}
.errands main div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
  padding:6px ;

}
.m-errands{
   display: grid;
  align-items: center;
  text-align: center;  
  gap: 30px;
}

.task-txt, .task-total{
   font-size:  clamp(20px, 2vw, 35px);
   font-weight: 500;
   color: rgb(0, 0, 0);
}



/*Health screen*/
.healthscreen{
  display: none;
  grid-template-rows: 1fr 650px 1fr;
  height: 100%;
  /* background-image: url(thumbnails/todostayorgbg.png);
  background-size: cover;
  background-position: center; */
}
/* .workscreen{
  display: none;
} */
.health-scr{
  width: 100%;
}
.health-header{
  display: grid;
  /* grid-template-columns: repeat(3fr); */
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 180px;
  background-color: antiquewhite;
}
.backarrow{
  width: 5%;
  position: absolute;
  top: 0%;
}
.health-bg{
position: absolute;
top: 10%;
left: 45%;
padding: 0%;
width: 150px;
transform: scale(1.5);
transition: 3s;
}

.health-home{
  display: flex;
    flex-wrap: nowrap;
  flex-direction: row;
  gap: 20%;
  background-color: rgb(252, 201, 72);
  border-radius: 20px;
  justify-content: center;
}
.health-home button{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}

.health-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.htitle{
  font-size: clamp(30px, 3vw, 50px);
  text-wrap: inherit;
  font-weight: bold;
  overflow-wrap: break-word;
  white-space: normal;
  width: 280px;
}
.healthtitle{
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 500;
  text-decoration:underline;
  overflow-wrap: break-word;
  white-space: normal;
}
.htitle, .healthtitle{
  margin-left: 60px;
}
.health-home-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.hlthome-icon{
  width: 100%;
}
.task-txt-box{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.health-task-icon{
  min-width: 10%;
  max-width: 15%;
}

.health main{
  background-image: url(thumbnails/tododesktopbg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.health main img{
  width: 50px;
}
.health main div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
  padding:6px ;

}
.m-health{
   display: grid;
  align-items: center;
  text-align: center;  
  gap: 30px;
}

.task-txt, .task-total{
   font-size:  clamp(20px, 2vw, 35px);
   font-weight: 500;
   color: rgb(0, 0, 0);
}

/*All footers of 4 main views*/
.work-scr footer img, .health-scr footer img, .errands-scr footer img, .personal-scr footer img{
  width: 10%;
}
.work-scr footer p,.health-scr footer p, .errands-scr footer p, .personal-scr footer p{
  font-size: clamp(16px, 2vw, 24px);
}

.work-scr footer,.health-scr footer, .errands-scr footer,.personal-scr footer{
  display: flex;
}
.work-scr footer div,.health-scr footer div, .errands-scr footer div,.personal-scr footer div{
   display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}